## primitive operators / Arithmetic

In [37]:
2 + 3

5

In [38]:
2 - 4

-2

In [39]:
2 * 3

6

In [40]:
10 / 3

3.3333333333333335

In [42]:
10 // 3 # floor division / integer division

3

In [44]:
2**3 # 2^3 = 8

8

In [46]:
# modulus
15 % 4

3

In [2]:
"Hello World"

'Hello World'

## Data types primitives

In [78]:
type(47) # int
type(1/3) #float
type(True) # bool
type("hello") # str
type(None) # NoneType
type ( float ("Inf") ) # float
type ( float ("NaN") ) # float
isinstance(47, int) # True

True

In [5]:
a = "Hello World!!"
b = 10
c = 2 > 3
d = e = 1
f, g, h = 2, 3, 4
print(a, b, c, d, e, f, g, h)
(a, b) = (b, a)
print(a, b, c, d, e, f, g, h)
l = [2, 4, 6, 8]
print(l)

Hello World!! 10 False 1 1 2 3 4
10 Hello World!! False 1 1 2 3 4
[2, 4, 6, 8]

In [4]:
import math
round(111.123) #111
round(111.123, 1) # 111.1
round(111.123, -1) # 110.0
math.floor(1.9) #1
math.ceil(1.3) #2

2

## List (basic) - mutable ordered sequence

In [51]:
# ordered collection of objects
l = [2, 4, 6, 8 ,10]
#list is by reference and mutable
m = l
m.append(12)
print(l, m)
print(id(l), id(m)) # address

m = l[:] # copy
print(id(l), id(m)) # address

# tuple is immutable
l = (2, 4, 6, 8 ,10)
# m.append(12)
# tuple is immutable
print(l)

[2, 4, 6, 8, 10, 12] [2, 4, 6, 8, 10, 12]
4531664128 4531664128
4531664128 4532028032
(2, 4, 6, 8, 10)

In [24]:
l = []
l = list()
print(l)
l.append("hello")
print(l)
l.extend(["world", "hola", "earth"])
print(l)
m = [1,2,3] + [4,5,6]
print(m)
print(len(m))

[]
['hello']
['hello', 'world', 'hola', 'earth']
[1, 2, 3, 4, 5, 6]
6

In [40]:
l = [3,4,5,1,2,6]
l.sort(reverse=True)
print(l)
l.reverse()
print(l)
print(sum(l))
print(min(l))
print(max(l))

[6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6]
21
1
6

In [61]:
print(l)
print(l[1])
print(l[-1])
print(l[2:4])
print(l[:4])
print(l[2:])
print(l[-4: -2])
print(l[::2])
print( l[ -1:-len(l)-1:-1 ] )

l_new = l[:] # copy
# l_new = l.copy() # shallow copy
# import copy
# l_new = copy.deepcopy(l) # deep copy / use when we have nested structures

print(id(l), id(l_new)) # address

[1, 2, 3, 4, 6]
2
6
[3, 4]
[1, 2, 3, 4]
[3, 4, 6]
[2, 3]
[1, 3, 6]
[6, 4, 3, 2, 1]
4532708032 4533138880

In [57]:
l = [1,2,3,4,5,6]
l.append("hello")
print(l)
del(l[4])
print(l)
i = l.pop()
print(l, i)

[1, 2, 3, 4, 5, 6, 'hello']
[1, 2, 3, 4, 6, 'hello']
[1, 2, 3, 4, 6] hello

In [26]:
for i in m:
    print(i)

1
2
3
4
5
6

In [31]:
iterator_m = iter(m)
i = next(iterator_m)
while True:
    print(i)
    try:
        i = next(iterator_m)
    except:
        break

1
2
3
4
5
6

## Tuple (basic) immutable ordered sequence

In [68]:
my_tuple = (2, 4, 6, 8 ,10)
my_empty_tuple = tuple()
my_tuple_from_list = tuple([2, 4, 6, 8])

# same indexing syntax
# my_tuple.append(2)
# del(my_tuple[2])
t = (3,2,1,4,5,6)
print(sorted(t)) # returns a list containing the results

# tuple is immutable but list reference can still be edited
l = [2, 4, 6]
t = ("tuple item", l)

t_copy = t[:] # copy.deepcopy(t) doesnt have this issue
print(t, t_copy)
l.append("hello")
print(t, t_copy)

[1, 2, 3, 4, 5, 6]
('tuple item', [2, 4, 6]) ('tuple item', [2, 4, 6])
('tuple item', [2, 4, 6, 'hello']) ('tuple item', [2, 4, 6, 'hello'])

## Strings

In [75]:
print("Hello World!!")

print("My name is {0}, I live in {1}".format("Devendra","India"))
print("My name is {}, I live in {}".format("Devendra","India"))

print("My name is {name}. I live in {country}".format(name="Devendra", country="India"))

name = "Dev"
print(f"Hello {name}!!") #f-string
print("My notebook costs {price:.2f}".format(price=211.126))

Hello World!!
My name is Devendra, I live in India
My name is Devendra, I live in India
My name is Devendra. I live in India
Hello Dev!!
My notebook costs 211.13

In [71]:
txt = "I am Devendra. I live in India."

# indexing same as list
print("India" in txt)
print("India" not in txt)
print(txt[2:14])
print(txt[15:])
print(txt[:14])
print(txt[-31: -17])
print(txt.find("Dev")) # index of first character
print(txt.find("dev"))

True
False
am Devendra.
I live in India.
I am Devendra.
I am Devendra.
5
-1

In [73]:
print(txt.upper())
print(txt.lower())

print(txt.split())
print(txt.split("."))
# txt.splitlines()
print(txt.replace("Devendra", "Ram"))
print(len(txt))

txt = "  I am Devendra. I live in India.  "
print(txt.strip())
print(txt.strip(". ")) # input all characters used to strip, default is whitespace

  I AM DEVENDRA. I LIVE IN INDIA.
  i am devendra. i live in india.
['I', 'am', 'Devendra.', 'I', 'live', 'in', 'India.']
['  I am Devendra', ' I live in India', '  ']
  I am Ram. I live in India.
35
I am Devendra. I live in India.
I am Devendra. I live in India

In [74]:
s1 = "Hello"
s2 = "World"
print(s1 + s2)
print(s1 + " " + s2)
print(" ".join(["Hello", "World!"]))

HelloWorld
Hello World
Hello World!

## Dictionary (O(1) lookup & named indexing called keys) 
- keys should be immutable
- dictionary is mutable
- values can anything

In [78]:
d = dict()
print(d)
d["name"] = "Devendra"
d["sex"] = "Male"
print(d)

{}
{'name': 'Devendra', 'sex': 'Male'}

In [87]:
d = { "name": "Devendra", "sex": "Male"}
print(d)
d["last_name"] = "Sahu"
print(d)
del d["last_name"]
print(d)
print(len(d))
print("age" in d)

{'name': 'Devendra', 'sex': 'Male'}
{'name': 'Devendra', 'sex': 'Male', 'last_name': 'Sahu'}
{'name': 'Devendra', 'sex': 'Male'}
2
False

In [86]:
for key in d:
    print(key, d[key])

name Devendra
sex Male

In [89]:
print(d.keys())
print(d.values())
print(d.items())

dict_keys(['name', 'sex'])
dict_values(['Devendra', 'Male'])
dict_items([('name', 'Devendra'), ('sex', 'Male')])

## If then Else

In [7]:
x = input("enter an integer")
x = int(x)
print ("x = ", x)
if x % 2 == 0:
    print(f"x = {x} is even number")
else:
    print(f"x = {x} is odd number")

x =  2
x = 2 is even number

In [12]:
x = input("enter an integer")
x = int(x)
print ("x = ", x)
if x < 0:
    print(f"x = {x} is Negative Number")
elif x == 0:
    print(f"x = {x} is Zero")
else:
    print(f"x = {x} is Positive Number")

x =  4
x = 4 is Positive Number

## Iteration (looping)

In [17]:
n=5
for i in range(n):
    print(i, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [14]:
l = [2,4,6,8,10,12,14]
for i in l:
    print(i)

2
4
6
8
10
12
14

In [8]:
l = ["Hello", "World", "This", "is", "a", "Good", "day"]
for idx, i in enumerate(l):
    print(idx, i)

0 Hello
1 World
2 This
3 is
4 a
5 Good
6 day

In [16]:
l = [2,4,6,8,10,12,14]
for i in l:
    if i>=10:
        print(i)

10
12
14

In [18]:
n=5 

i=0
while(i<n):
    print(i, "Hello")
    i = i + 1

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

## Functions

In [19]:
#sum of all numbers in a list 
def sum_list(l):
    s = 0
    for item in l:
        s+=item
    return s

In [20]:
sum_list([1,2,3])

6

In [21]:
sum_list([-1, 3, 5])

7

- fibonacci sequence
- return if input is even or odd
- string is palindrome or not

Given an array of integers nums and an integer target, return indices of the two numbers such that they add up to target.
You may assume that each input would have exactly one solution, and you may not use the same element twice.
You can return the answer in any order.


Input: nums = [2,7,11,15], target = 9
Output: [0,1]
Explanation: Because nums[0] + nums[1] == 9, we return [0, 1].

Input: nums = [3,2,4], target = 6
Output: [1,2]

Input: nums = [3,3], target = 6
Output: [0,1]

In [6]:
from typing import List
def twoSum(nums: List[int], target: int) -> List[int]:
    lookup = dict()
    for idx, i in enumerate(nums):
        if ((target - i) in lookup.keys()) and (lookup[target - i]!=idx):
            return [idx, lookup[target - i]]
        lookup[i] = idx


print(twoSum([2,7,11,15], 9))
print(twoSum([3,2,4], 6))
print(twoSum([3,3], 6))

[1, 0]
[2, 1]
[1, 0]